<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- Arguments -->
  <arg name="known_initial_pos" default="true"/>

  <!-- Namespaces -->
  <arg name="namespace1"  default="rosbot1"/>
  <arg name="namespace2" default="rosbot2"/>

  <!-- Initial position for the first rosbot -->
  <arg name="$(arg namespace1)_x_pos" default=" 1.0"/>
  <arg name="$(arg namespace1)_y_pos" default=" 1.0"/>
  <arg name="$(arg namespace1)_z_pos" default=" 0.0"/>
  <arg name="$(arg namespace1)_yaw"   default=" 0.0"/>

  <!-- Initial position for the second rosbot -->
  <arg name="$(arg namespace2)_x_pos" default="-1.0"/>
  <arg name="$(arg namespace2)_y_pos" default=" 1.0"/>
  <arg name="$(arg namespace2)_z_pos" default=" 0.0"/>
  <arg name="$(arg namespace2)_yaw"   default=" 0.0"/>
  

  <!-- Pass the first rosbot's position tb3_0/map_merge  -->
  <group ns="$(arg namespace1)/map_merge">
    <param name="init_pose_x"   value="$(arg rosbot1_x_pos)"/>
    <param name="init_pose_y"   value="$(arg rosbot1_y_pos)"/>
    <param name="init_pose_z"   value="$(arg rosbot1_z_pos)"/>
    <param name="init_pose_yaw" value="$(arg rosbot1_yaw)"  />
  </group>

  <!-- Pass the second rosbot's position tb3_1/map_merge  -->
  <group ns="$(arg namespace2)/map_merge">
    <param name="init_pose_x"   value="$(arg rosbot2_x_pos)"/>
    <param name="init_pose_y"   value="$(arg rosbot2_y_pos)"/>
    <param name="init_pose_z"   value="$(arg rosbot2_z_pos)"/>
    <param name="init_pose_yaw" value="$(arg rosbot2_yaw)"  />
  </group>


  <!-- Run the multirobot_map_merging node -->
<!--
  <node pkg="multirobot_map_merge" type="map_merge" respawn="false" name="map_merge">
    <param name="robot_map_topic" value="map"/>
    <param name="robot_namespace" value="rosbot"/>
    <param name="merged_map_topic" value="map"/>
    <param name="world_frame" value="map"/>
    <param name="known_init_poses" value="$(arg known_initial_pos)"/>
    <param name="merging_rate" value="0.5"/>
    <param name="discovery_rate" value="0.05"/>
    <param name="estimation_rate" value="0.1"/>
    <param name="estimation_confidence" value="1.0"/>
  </node>
--> 
<!-- before it was inside the node above -->
<!-- remap the individual maps from the local map (published by SLAM) to the expanded map (published by the map_expansion node)
    <remap from = "$(arg namespace1)/map" to = "new_$(arg namespace1)_map"/>
    <remap from = "$(arg namespace2)/map" to = "new_$(arg namespace2)_map"/> -->


  <node pkg="tf" type="static_transform_publisher" name="world_to_$(arg namespace1)_tf_broadcaster" args="0 0 0 0 0 0 /map /$(arg namespace1)/map 100"/>
  <node pkg="tf" type="static_transform_publisher" name="world_to_$(arg namespace2)_tf_broadcaster" args="0 0 0 0 0 0 /map /$(arg namespace2)/map 100"/>

<!-- Commented by Lucas to try -->
<!-- Those twos are working : -->
<!-- KEEP THEM-->
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_$(arg namespace1)_tf_broadcaster_map_$(arg namespace1)_map" args="0 0 0 0 0 0 /map /$(arg namespace1)/$(arg namespace1)/map"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_$(arg namespace2)_tf_broadcaster_map_$(arg namespace2)_map" args="0 0 0 0 0 0  /map /$(arg namespace2)/$(arg namespace2)/map"/>
	
<!--
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_$(arg namespace1)_tf_broadcaster_map_$(arg namespace1)_map" args="0 0 0 0 0 0 /map /$(arg namespace1)/move_base"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_$(arg namespace2)_tf_broadcaster_map_$(arg namespace2)_map" args="0 0 0 0 0 0  /map /$(arg namespace2)/move_base"/>
	-->








  <!--node pkg="tf" type="static_transform_publisher" name="world_to_new_$(arg namespace1)_map" args="0 0 0 0 0 0 /map /new_$(arg namespace1)_map 100"/>
  <node pkg="tf" type="static_transform_publisher" name="world_to__new_$(arg namespace2)_map" args="0 0 0 0 0 0 /map /new_$(arg namespace2)_map 100"/-->
</launch>

<!-- See original documentation -->
<!-- http://wiki.ros.org/multirobot_map_merge -->
